*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* --- header --- */

.header-view{
    position: fixed;
    background-color: #283244;
    width: 100%;
    height: 10vh;
    padding-top: 2.3vh;
}

.header-logo{
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

.header-navbar{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: right;
}

.header-section{
    text-decoration: none;
    color: white;
    padding-right: 2vh;
    font-size: 2.5vh;
}

.header-section:hover{
    font-weight: 500;
}

/* --- home --- */

.section-home{
    /*background-color: #283244;*/
    background-image: url('../statics/DomoBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
}

.home-sec{
    padding: 25vh;
}

.home-title{
    color: white;
}

.home-txt{
    color: #B6B6B6;
}

.btn{
    margin-top: 3vh;
    margin-right: 2vh !important;
}

/* --- services --- */

.section-services{
    background-color:#283244;
    width: 100%;
    height: 67vh;
    padding-top: 10vh;
}

.services-title{
    color: white;
    text-align: center;
}

.services-txt{
    color: #B6B6B6;
    text-align: center;
    padding-bottom: 4vh;
}

.services-card{
    background-color: white;
    width: 50vh;
    text-align: center;
    padding: 3vh;
    height: 55vh;
}

.card-img{
    width: 8vh !important;
    margin: 3vh;
    background-color: #3a6cee;
    border-radius: 50% !important;
}

.card-title{
    padding-bottom: 2vh;
}

.card-txt{
    font-size: 2.2vh;
}

/* --- technology --- */

.section-technology{
    background-color: #3a6cee;
    width: 100%;
    height: 75vh;
    padding-top: 20vh;
}

.tech-title{
    color: white;
    padding-top: 15vh;
}

.tech-txt{
    color: #B6B6B6;
}

.tech-logo{
    padding: 4vh;
    width: 50vh;
}

/* --- case studies --- */

.section-casestudies{
    background-color: white;
    width: 100%;
    height: 55vh;
    padding-top: 20vh;
}

.case-logos{
    width: 100%;
}

/* --- About --- */

.section-about{
    background-color: white;
    width: 100%;
    height: 25vh;
}

.card-about{
    padding: 5vh;
    color: white;
}

.card-back1{
    background-color: #3a6cee;
}

.card-back2{
    background-image: url('../statics/cardBack.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-about{
    color: white !important;
}

/* --- Hire Us --- */

.section-hireus{
    background-color: #283244;
    width: 100%;
    height: 45vh;
    padding-top: 20vh;
}

.hireus-ref{
    display: flex;
}

.hireus-title{
    color: white;
    margin-bottom: 3vh;
}

.hireus-txt{
    color: #B6B6B6;
}

.hireus-logo{
    width: 3.5vh;
    margin-right: 2vh;
}

.hireus-li{
    list-style: none;
    text-decoration: none;
    margin-left: -5vh;
    margin-bottom: 0.5vh;
}

.hireus-title2{
    color: white;
    margin-bottom: 3vh;
    font-size: 1.8vh;
}